/* ---------------------------------------------------------------------------------- */
/*                                      SELECTEUR                                     */
/* ---------------------------------------------------------------------------------- */

/* Selecteur d'élément : balise ciblée par la mise en forme */

h1{
    color:blue;
}

/* Sélecteur de classe */

.text-italic{
    font-style:italic;
}

.text-danger{
    color:red;
}

/* Selecteur d'id (a éviter)*/

#paragraphe-1{
    color: purple;
}

/* Combinateur */
/* Cibler tous les elements ... qui sont des enfants directs de ... */
ol > li{
    font-weight: bold;
}
/* Cibler tous les elements ... qui sont des enfants (directs ou non) de ... */
/* ol li{ ... }

/*Selecteur d'attribut*/

a[href="./"]{
    color:green;
}

/* ---------------------------------------------------------------------------------- */
/*                                      PROPRIETE                                     */
/* ---------------------------------------------------------------------------------- */

/* Couleur de police (trois possibilités mais garder toujours la même dans un fichier)
   Couleur de fond (surligneur) */

.color-1{
    color:violet;
}

.color-2{
    color:#133a0b;
}

.color-3{
    color:rgb(120,140,200)
}

#paragraphe-1{
    background-color: orange;
}

/* Police */

h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Taille (deux possibilités mais garder toujours la même dans un fichier) */

a[href="./"]{
    font-size: large;
}

.phrase-accroche{
    font-size: 18px;
}

/* Style de police : ici italique, gras et souligné mais il y en a pleind d'autres */

.phrase-accroche{
    font-style:italic;
    font-weight: bold;
    text-decoration: underline;
}

/* Alignement (alignement par défaut à gauche) */

.titre{
    text-align: center;
}

h2{
    text-align: right;
}

.color-1{
    text-align: justify;
}

/* Marges externes puis internes 
(ici on a appliquer la même valeur à toutes les marges internes) */

#paragraphe-1{
    margin-top: 83;
    margin-bottom: 45;
    margin-left: 30;
    margin-right: 30;
}

#paragraphe-1{
    padding: 25px;
}

.titre{
    margin : 50px;
    padding: 20px;
}
/* Bordures (si on ne choisi pas de couleur cela choisit par défaut celle du texte) 
   On peut aussi faire des bordures arrondies */

#paragraphe-1{
    border-top: 5px solid blue;
    border-bottom: 5px solid blue;
}

.titre{
    border : 8px double ;
    border-radius: 8px ;
}

/* Largeur, hauteur 
   Avec ces contraintes, tous le texte ne rentre plus :
   On va le cacher et faire apparaitre une barre de défilement */

.color-2{
    width: 375px;
    height : 400px;
    overflow: scroll;
}

/* Plein d'autres à rechercher pas besoin de tout retenir */